/* custom app */
.btn-app {
  background: var(--bg-btn) !important;
  color: #fff !important;
  border: none !important;
}

/* shortcuts */
.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadow-default {
  box-shadow: var(--boxShadow-default);
}